
body {
	 /* background-color: rgba(226, 218, 230, .5); */
	color: #5D5B5B;
}

header {
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header {
	display: flex;
    flex-direction: row;
    padding: 20px 20px;
}

.header_home {
	color: #000;
	display: flex;
	align-items: center;
	margin-right: 20px;
	text-decoration: none;
}

.header_right {
	color: #000;
	display: flex;
    flex-direction: row;
    float: right;
    text-decoration: none;
}

.header_right li:first-child {
	margin-right: 20px;
}


.top {
	height: 100vh;
	background-image: url(img/e68daea7aa789c4e2deafc91a2402dad.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
	z-index: 5;
}

.top_text {
	position: absolute;
	top: 50%;
	left: 36%;
	font-size: 50px;
}

.about_me {
	background-color: #fff;
}

.profile {
	text-align: center;
	margin: 50px 150px;
	padding: 20px 0;
	background-color: rgba(139, 118, 139, .1);
}

h1 {
	margin-bottom: 50px;
	font-size: 50px;
}

.PN {
	font-size: 30px;
	margin-bottom: 10px;
}


.img_moon {
	height: 500px;
	background-image: url(https://i.pinimg.com/originals/13/9e/73/139e73d1fee28046566a4f748329ae2e.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}


.contents {
	position: relative;
	text-align: center;
	background-color: rgba(233, 243, 249, .8);

}


.portfolio {
	text-align: center;
	padding: 80px 0 30px 0;
	font-size: 50px;
}

.portfolio span {
	position:relative;
	display: inline-block;
	margin: 0 -.05em;
	color: #FFF;
}

.portfolio span::after {
	position: absolute;
	top: 0;
	left: 0;
	content: attr(data-text);
	color: #3D3044;
	transform: scale(1.5);
	animation: loading 8s infinite;
}

.portfolio span:nth-child(2)::after {
	animation-delay: .1s;
}

.portfolio span:nth-child(3)::after {
	animation-delay: .2s;
}

.portfolio span:nth-child(4)::after {
	animation-delay: .3s;
}

.portfolio span:nth-child(5)::after {
	animation-delay: .4s;
}

.portfolio span:nth-child(6)::after {
	animation-delay: .5s;
}

.portfolio span:nth-child(7)::after {
	animation-delay: .6s;
}

.portfolio span:nth-child(8)::after {
	animation-delay: .7s;
}

.portfolio span:nth-child(9)::after {
	animation-delay: .8s;
}

@keyframes loading {
	0%, 75%, 100% {
		transform: scale(1.5);
		opacity: 0;
	}
	25%, 50% {
		transform: scale(1);
		opacity: 1;
	}
}


.img-box {
	display: flex;
	justify-content: center;
}


img {
	height: 200px;
}

img:hover {

}

.img-box li {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding:30px  50px;
	font-size: 20px;
}

footer {
	height: 150px;
	background-color: #3D3044;
}

.thsnks {
	color: #fff;
}